In [1]:
import pandas as pd
import matplotlib as plt

In [8]:
sensor1 = pd.read_csv('TrendlogOutput_lg_23_1.csv', delimiter = '\t')

In [6]:
sensor2 = pd.read_csv('TrendlogOutput_lg_23_2.csv', delimiter = '\t')

In [9]:
sensor1.head()

               UNSW                             X
0  This year (2019)                             X
1         Timestamp  Oxygen Depletion Room LG23 2
2    1/01/2019 0:02                            21
3    1/01/2019 0:07                            21
4    1/01/2019 0:12                            21